* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: #f2f2f2;
	font-family: 'Roboto', sans-serif;
}
.btn {
	background-color: #020202;
	color: #f2f2f2;
	font-size: 15px;
	cursor: pointer;
	padding: 10px 15px;
	margin-top: 20px;
	border-radius: 20px;
}
.btn:active {
	background-color: #1e1e1e;
}
.error{
	color: red;
	font-size: 15px;
}
